<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoBlazeSuite" parallel="false" thread-count="1">
<listeners>
        <listener class-name="PageObjectUtils.ExtentReportListener"/>
    </listeners>
    <test name="TabletView">
        <parameter name="viewMode" value="TABLET"/>
        <classes>
            <class name="PageObjectTest.DemoBlazeTestNG"/>
        </classes>
    </test>

    <test name="MobileView">
        <parameter name="viewMode" value="MOBILE"/>
        <classes>
            <class name="PageObjectTest.DemoBlazeTestNG"/>
        </classes>
    </test>

    <test name="MaximizeView">
        <parameter name="viewMode" value="MAXIMIZE"/>
        <classes>
            <class name="PageObjectTest.DemoBlazeTestNG"/>
        </classes>
    </test>

</suite>

